.install.stamp
__pycache__/
.*.swp
.DS_Store
*.ged
*.db
*.csv
*.egg-info
data.json
/morris_hill.json
/output*.json
/*-output.json
/exports/
/scratch/
*.log
graver.log.*
.bandit
.env
.idea/
.venv
.coverage*
/coverage.xml
.vscode/
.tox*
.trunk/
bandit.yaml
*.txt
!require*.txt
dist/
